body {
    padding-top: 3.5rem;
    overflow: hidden;
    background-color: grey;
  }
#ldbar{
    z-index: 0;
}




#drawingCanvas{
    background-color: transparent;
    /* width: auto; */
    /* height: 100%; */
    margin:0;
    position: absolute;
    z-index: 5;
}

#controlCanvas{
    background-color: transparent;
    margin:0;
    position: absolute;
    z-index: 50;
}

#coordinateCanvas{
    background-color: transparent;
    margin: 0;
    position: absolute;
    z-index: 10;
}
