{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
{% load static %}
<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <!-- {% lorem 5 p %} -->
    My name is Tom Weir, and I'm a programmer looking for work.
    I graduated from the Uinviersity of Cambridge in 2015 with a degree in Natural Sciences.
    I obtained a MSc in Geophysics from Utrecht University in 2019.
    On this site you'll find information about me, contact details and I'll be adding projects here as time goes on.



  </div>
  <div class="col-md-4 themed-grid-col">
    <img src={% static 'mainSite/images/zoo_selfie.jpg' %} class="img-fluid" alt="Tom Weir Headshot">

  </div>
</div>
{% endblock %}
