{% extends 'base.html' %}

{% block title %}About - Mandelbrot{% endblock %}

{% block content %}
The <a href="https://en.wikipedia.org/wiki/Mandelbrot_set#Self-similarity">Mandelbrot set</a> is the set of complex numbers c for which the equation f<sub>c</sub> = z <sup>2</sup> + c does not diverge,
when iterated starting at z=0. 

<br>


Code is available on my <a href="https://www.github.com/TPDW"> Github</a>.
<br><br>
Credits <br>
Inspired by <a href="https://csl.name/mandelbrot/"> csl.name/mandelbrot</a> and 
<a href="https://mandelbrot.ophir.dev/"> mandelbrot.ophir.dev</a>.<br>
Colormaps from <a href = "https://matplotlib.org/">matplotlib</a>, 
via <a href="https://github.com/timothygebhard/js-colormaps">Timothy Gebhard</a>. 



{% endblock %}
