{% extends 'base.html' %}

{% block title %}About - Mandelbrot{% endblock %}

{% block content %}
The Mandelbrot set is best explained by wikipedia.




Code is available on my <a href="github.com/TPDW"> Github</a>.
<br><br>
Credits <br>
Inspired by <a href="https://csl.name/mandelbrot/"> csl.name/mandelbrot</a> and 
<a href="https://mandelbrot.ophir.dev/"> mandelbrot.ophir.dev</a>.<br>
Colormaps from <a href = "https://matplotlib.org/">matplotlib</a>, 
via <a href="https://github.com/timothygebhard/js-colormaps">Timothy Gebhard</a>. 
{% endblock %}
