{% extends 'base.html' %}
{% load static %}
{% block title %}Mandelbrot{% endblock %}
{% block content %}
</main>
<link href={% static "mandelbrot/css/loading-bar.css" %} rel="stylesheet">
<script type="text/javascript" src={% static "mainSite/js/loading-bar.js" %}></script>
<link href={% static "mandelbrot/css/mandelbrot.css" %} rel="stylesheet">
<div class='row g-0 vh-100'>
    <div class='d-flex flex-column p-3 bg-dark text-white h-100' id = 'controller' style="width: 25%">
    This is an HTML5 Canvas based viewer for the Mandelbrot set.<br>
    Instructions:<br>
    Click and drag to zoom<br>
    Use arrow keys to move<br> 

    <a href = {% url 'mandelbrot_about' %}>About</a>

    <br>
    Colour Map
    <select id='colorMap'>
        <optgroup label='Sequential'>
        <option value = 'null' selected>Grayscale</option>
        <option value = 'bone'>Bone</option>
        <option value = 'pink'>Pink</option>
        <option value = 'summer'>Summer</option>
        <option value = 'winter'>Winter</option>
        </optgroup>
        <optgroup label="Sequential (reversed)">
            <option value = 'Greys'>Grayscale (reversed)</option>
            <option value = 'Blues'>Blues</option>
            <option value = 'Oranges'>Oranges</option>
        </optgroup>
        <optgroup label = "Diverging">
            <option value = 'seismic'>Seismic</option>
            <option value = 'Spectral'>Spectral</option>
            <option value = 'bwr'>BWR</option>
        </optgroup>
        <optgroup label = "Recuring">
            <option value = 'flag'>Flag</option>
            <option value = 'prism'>Prism</option>
        </optgroup>
        <optgroup label = "Miscellaneous">
            <option value = 'jet'>Jet</option>
            <option value = 'rainbow'>Rainbow</option>
            <option value = 'gnuplot'>Gnuplot</option>
        </optgroup>
    </select>
    <br>
    Resolution
    <input type=number id='dpi'min=0 value=1>
    <br>
    Preserve Aspect Ratio
    <input type="checkbox" id='aspectRatio' checked>
    <br>
    Use Distance Estimation
    <input type="checkbox" id='distanceEstimation' checked>
    <br>
    Display Coordinates
    <input type="checkbox" id='displayCoordinates' checked>
    <br>
    <button id = 'drawButton'>Draw</button>
    <br>
    <button id = 'resetButton'>Reset</button>
    <br>
    <button id = 'exportButton' download="mandelbrot.png">Save</button>

    
    
    
    </div>
    <div class='d-flex flex-column px-0 right h-100' id='canvasContainer'style="width: 75%;">
        <canvas id = 'drawingCanvas' ></canvas>
        <canvas id = 'controlCanvas', width = '10', height = '10'></canvas>
        <canvas id = 'coordinateCanvas'></canvas>
        <div class=" d-flex justify-content-center my-auto" >
        <div class="ldBar " data-value="0" id='ldBar' data-preset='circle'></div>
        </div>
    </div>
</div>
<div hidden id='mandelbrotWorkerUrl'>{% static "mandelbrot/js/mandelbrotWorker.js" %}</div>
<script src = {% static "mandelbrot/js/colormaps.js" %}></script>
<script src = {% static "mandelbrot/js/mandelbrot_threaded.js" %}></script>

{% endblock %}