{% extends 'base.html' %}
{% load static %}
{% block title %}Mandelbrot{% endblock %}
{% block content %}
</main>
<link href={% static "mainSite/css/loading-bar.css" %} rel="stylesheet">
<script type="text/javascript" src={% static "mainSite/js/loading-bar.js" %}></script>
<link href={% static "mainSite/css/mandelbrot.css" %} rel="stylesheet">
<div class='row g-0 vh-100'>
    <div class='d-flex flex-column p-3 bg-dark text-white h-100' id = 'controller' style="width: 25%">
        Colour Map
    <select id='colorMap'>
        <option value = 'null' selected>Grayscale</option>
        <option value = 'seismic'>Seismic</option>
        <option value = 'flag'>Flag</option>
        <option value = 'prism'>Prism</option>
        <option value = 'jet'>Jet</option>
        <option value = 'Spectral'>Spectral</option>
    </select>
    <br>
    Resolution
    <input type=number id='dpi'min=0 value=1>
    <br>
    Preserve Aspect Ratio
    <input type="checkbox" id='aspectRatio'>
    <br>
    Use Distance Estimation
    <input type="checkbox" id='distanceEstimation' checked>
    <br>
    Display Coordinates
    <input type="checkbox" id='displayCoordinates' checked>
    <br>
    <button id = 'drawButton'>Draw</button>
    <br>
    <button id = 'resetButton'>Reset</button>
    
    
    
    </div>
    <div class='d-flex flex-column px-0 right h-100' id='canvasContainer'style="width: 75%;">
        <canvas id = 'drawingCanvas' ></canvas>
        <canvas id = 'controlCanvas', width = '10', height = '10'></canvas>
        <canvas id = 'coordinateCanvas'></canvas>
        <div class="ldBar" data-value="50" id='ldBar'></div>
    </div>
</div>
<script src = {% static "mainSite/js/colormaps.js" %}></script>
<script src = {% static "mainSite/js/mandelbrot.js" %}></script>

{% endblock %}