{% extends 'base.html' %}

{% block title %}Qualifications{% endblock %}

{% block content %}
{% if Degree_list %}
  {% for degree in Degree_list %}
    <h2> {{degree.university}} </h2>
     {{ degree.title}}: {{degree.subject}}
     </br>
     Grade: {{degree.grade}}

     {#{degree.thesis.file}#}
     {#figure out how to extract the last bit from the file parameter#}
     {% if degree.thesis %}
     </br> Thesis:
     <a href={% url 'thesis' degree.thesis.uuid|stringformat:"s"  %}>{{degree.thesis.title}}</a>
     {% endif %}
  {% endfor %}
{% endif %}

{% if A_level_list %}
<h1> A Levels </h1>
<ul>
  {% for A_level in A_level_list %}
    <li> {{ A_level.subject }} : {{ A_level.grade }} </li>
  {% endfor %}
</ul>
{% endif %}

{% if GCSE_list %}
<h1> GCSEs </h1>
<ul>
  {% for gcse in GCSE_list %}
    <li> {{ gcse.subject }} : {{ gcse.grade }} </li>
  {% endfor %}
</ul>
{% endif %}



{% if Coursera_Course_list %}
<h1> Coursera Courses </h1>
<ul>
  {% for Coursera_Course in Coursera_Course_list %}
    <li> <a href={{Coursera_Course.verification_link}}>{{Coursera_Course.subject}}</a></li>
  {% endfor %}
</ul>
{% else %}
No courses
{% endif %}
{% endblock %}
